@using Presentation.Areas.Admin.Models.User;
@model UserDetailVM

<h2>User Details</h2>
<table class="table">
    <tr>
        <th>Email</th>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <th>Username</th>
        <td>@Model.UserName</td>
    </tr>
  
    <tr>
        <th>Phone Number</th>
        <td>@Model.PhoneNumber</td>
    </tr>
  
</table>

